# Build outputs
target
dist
.nuxt
.output

# Dependencies
node_modules
.pnpm-store

# Test reports & coverage
reports
coverage
test-results

# Environment & secrets
.env

# OS files
.DS_Store

# Logs
logs